<html>

<head>
  <title>About</title>
    <link rel='icon' href='/img/weather.png'>
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <p>This is simple nodeJS project that uses data from <a href = "https://www.mapbox.com">mapbox.com</a> and <a href="https://darksky.net/dev">darksky.net</a>.</p>
    <p>HTML is rendered using <a href="https://www.npmjs.com/package/hbs">hbs</a> template engine.</p>
    <p>It is static site. Main goal was to get familiar with template view engine and broader my knowledge about pre-react patterns.</p>
    <img class='portrait'
      src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQmgOhjZY1XSqURBiQLFGnPEMGHpEiAbFdWzGAkUOwRb6GVoRn'>
  </div>
    {{>footer}}
</body>

</html>
