<html>

<head>
  <title>About</title>
    <link rel='icon' href='/img/weather.png'>
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <img class='portrait'
      src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQmgOhjZY1XSqURBiQLFGnPEMGHpEiAbFdWzGAkUOwRb6GVoRn'>
    <p>A little secret about me....</p>
  </div>
    {{>footer}}
</body>

</html>
