<html>

<head>
  <title>Help</title>
  <link rel='icon' href='/img/weather.png'>
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
      {{>header}}
      <p>Feel free to look at the code <a href="https://github.com/Sdavletshina/node-weather-app" >here</a>.</p>
    </div>

    {{>footer}}
</body>

</html>
